<div class="shortcuts">
    <div class="view-container">
        <ciw-header [title]="title">
            <button [routerLink]="['add-user']" class="btn btn-primary btn-sm"> Add New</button>
        </ciw-header>
        <section>
            <div class="list">
                <ciw-shortcut-item></ciw-shortcut-item>
                <ciw-shortcut-item></ciw-shortcut-item>
                <ciw-shortcut-item></ciw-shortcut-item>
                <ciw-shortcut-item></ciw-shortcut-item>
            </div>
        </section>
    </div>
</div>