<div class="container user-settings" >
    <div *ngIf="!childClosed">
        <ciw-header [title]="title">
            <button [routerLink]="['add-user']" class="btn btn-primary btn-sm">+ Add User</button>
        </ciw-header>
        <ciw-agent-panel></ciw-agent-panel>
        <main class="agent-list__container" >
            <ciw-agent-card (click)="handleCardClick()"></ciw-agent-card>
            <ciw-agent-card></ciw-agent-card>
        </main>
    </div>
</div>
<router-outlet></router-outlet>