@import "./styles/_index.scss";
@import "./styles/bootstrap-custom.scss";
@import '~font-awesome/css/font-awesome.min.css';
// // Utility classes
@import "~bootstrap/scss/utilities";

html {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
    font-size: $font-size-root;
  }

body {
    // margin-bottom: $footer-height + $content-margin-bottom;
    font-family: $primary-regular-font-family;
  }

* {
    box-sizing: border-box;
}
 a, p, div, span {
     &:focus {
         outline: none;
     }
 }
ul {
    padding: 0;
    list-style-type: none;
}
li {
     &:focus {
         outline: none;
     }
}
.d-flex {
    display: flex;
  }

*::-ms-clear {display: none; width:0; height:0;}