<div class="scroll-container chat-customization">
    <ciw-header [title]="title"></ciw-header>
    <div class="scroller">
        <div class="wrapper">
            <h4>Pick color</h4>
            <p> Select chan icon color</p>
            <div class="color-picker">
                <div class="color-wrapper selected"><div class="item red"><i class="fa fa-comment" aria-hidden="true"></i></div></div>
                <div class="color-wrapper"><div class="item blue"><i class="fa fa-comment" aria-hidden="true"></i></div></div>
                <div class="color-wrapper"><div class="item green"><i class="fa fa-comment" aria-hidden="true"></i></div></div>
            </div>
        </div>
    </div>
</div>