$form-label-color: rgba(90,105,118,.5);
$form-input-color: #5a6976;

.view-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    padding: 20px;
    font-size: 16px;

    .label {
        color: $form-label-color;
        display: inline-block;
        width: 100px;
        margin-right: 20px;
    }

    .form-input {
        color: $form-input-color;
    }
}

.body {
    background-color: #eaf1f5;
}
.form-wrapper {
    padding: 30px 30px;
}
.form-row {
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 25px;
}
.avatar-label {
    display: flex;
    flex-direction: column;
}