.shortcut-add {
    font-size: 14px;
}
.scroll-container {
    height: 100%;
    width: 100%;
}
.scroller {
    height: 100%;
    width: 100%;
    overflow: auto;
}
form {
    color: $default-form-color;
    input, textarea {
        width: 100%;
    }

    textarea {
        height: 9em;
    }
}

.form-row {
    @include flex-container(column, flex-start, flex-start)
}

.action-buttons{
    @include flex-container(row, flex-end, flex-start);
    margin-right: auto;
    
    .btn {
        height: 36px;
        line-height: 34px;
        padding: 0 10px;
        min-width: 90px;
        font-size: 14px;
    }
}