$nav-item-hover-color: #5ca8f5;
$nav-item-border-height: 4px;
$nav-content-height: 44px;
$nav-item-right-margin: 10px;
$nav-item-label-color-active: rgba(90,105,118,.8);
$nav-item-label-color: #5a6976;
$nav-item--active_border_color: #5ca8f5;
$icon_color: $nav-item--active_border_color;
$icon_padding: 40px;
$icon-width: 20px;
$search_background:#f8fafb;
$search_border_color:#cfd5db;

.agent-panel {
    @include flex-container(row, center, center);
    margin: 0 auto;

    .wrapper {
        @include flex-container(row, center, center);
        width: 100%;
    }

    .search {
        justify-self: end;
        @include flex-container(row, center, center);
        padding-right: 20px;

        .icon {
            position: relative;
            width: $icon-width;
            right: calc( #{$icon_padding} - #{$icon-width});
        }

        input {
            font-size: 16px;
            line-height: 34px;

            width: 100%;
            color: #5a6976;
            border-radius: 4px;
            background-color: $search_background;
            border: 1px solid #cfd5db;
             padding-left: 10px;
            &.with-icon {
                padding-right: $icon_padding;
            }
        }

        i {
            font-size: 16px;
            line-height: 34px;
            color: $icon_color;
            vertical-align: middle;
        }
    }

    .nav {
        @include body-text-large;
        display: flex;
        @include flex-container(row, center, center);

        font-size: 1rem;

        &__item {
            @include flex-container(row, flex-start, center);
            height: $nav-content-height;
            cursor: pointer;
            margin: 0 $nav-item-right-margin;
            border-top: $nav-item-border-height solid transparent;
            border-bottom: $nav-item-border-height solid transparent;
            outline: none;
            padding: 0, 10px;
            border-bottom: 4px solid transparent;

            &.active {
                border-bottom-color: $nav-item--active_border_color;
                font-weight: 700;
                color: $nav-item-label-color-active;
            }

            &:hover, &:active {
                color: $nav-item-label-color-active;
            }

            .info {
                    color: $nav-item-label-color;
                    padding: 0 5px;
            }
        }

        .status {
            display: inline-block;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            &.accept {
                background-color: green;
            }
            &.busy {
                background-color: red;
            }
            &.offline {
                background-color: grey;
            }
        }

    }
}
