<div class="agent-panel">
    <div class="wrapper">
        <ul class="nav nav-tabs">
            <li class="nav__item active" data-toggle="tab" aria-expanded="true">
                <span class="info"> All ({{totalCount}})</span>
            </li>
            <li class="nav__item" data-toggle="tab">
                <span class="info"> Accepting chats ({{availableCount}})</span>
            </li>
            <li class="nav__item" data-toggle="tab">
                <span class="info"> Not accepting chats ({{busyCount}})</span>
            </li>
            <li class="nav__item" data-toggle="tab">
                <span class="info">  Offline  ({{offlineCount}})</span>
            </li>
        </ul>
    </div>
    <span class="search"><input type="search" placeholder="search"/> </span>
</div>