<div class="wrapper shortcut">
    <div class="topline">
        <ul class="shortcut__tags">
            <li>
                <ng-container *ngFor="let tag of tags">
                    <span class="shortcut__tag"><span>#</span>{{tag}}</span>
                </ng-container>
            </li>
        </ul>
        <ul class="shortcut__actions">
            <li class="action" (click)="toggleDelete()">
                <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
            </li>
            <li class="action">
                <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
            </li>
        </ul>
    </div>
    <div class="shortcut__text">{{shortcutItem.value}}</div>
    <div class="delete" [ngClass]="showButtons">
        <div class="delete-inner">
            <div class="actions">
                <button class="btn-sm btn-err" (click)="onRemove()"> delete</button>
                <button class="btn-sm" (click)="oncancel()"> cancel</button>
            </div>
        </div>
    </div>
</div>