<div class="wrapper shortcut">
    <div class="topline">
        <ul class="shortcut__tags">
            <li><span class="shortcut__tag"><span>#</span> cu</span></li>
        </ul>
        <ul class="shortcut__actions">
            <li class="action">
                <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
            </li>
            <li class="action">
                <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
            </li>
        </ul>
    </div>
    <div class="shortcut__text">See you</div>
    <div class="delete">
        <div class="delete-inner">
            <div class="actions">
                <button> delete</button>
                <button> cancel</button>
            </div>
        </div>
    </div>
</div>